# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Node
node_modules/

# Build
dist/
build/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db
