.search-container{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:15px;

    margin-top:-35px;

    position:relative;

    z-index:10;

}

.search-input{

    width:500px;

    padding:18px;

    border:none;

    border-radius:12px;

    font-size:18px;

    outline:none;

    box-shadow:0 5px 20px rgba(0,0,0,.4);

}

.search-btn{

    background:#DC2626;

    color:white;

    border:none;

    padding:18px 30px;

    border-radius:12px;

    font-size:17px;

    transition:.3s;

}

.search-btn:hover{

    background:#991B1B;

}