.auth-page {
  min-height: 100vh;
  background:
    linear-gradient(rgba(5, 5, 10, 0.75), rgba(5, 5, 10, 0.95)),
    url("../assets/hero.png");

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
}

.auth-card {
  width: 100%;
  max-width: 440px;

  background: rgba(20, 20, 25, 0.95);

  border: 1px solid rgba(255, 255, 255, 0.08);

  border-radius: 20px;

  padding: 40px;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);

  color: white;
}

.auth-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 28px;
  font-weight: 700;

  color: #ff3d00;

  margin-bottom: 25px;
}

.auth-logo svg {
  font-size: 30px;
}

.auth-card h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.auth-subtitle {
  text-align: center;
  color: #999;
  margin-bottom: 30px;
  line-height: 1.5;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 12px;

  background: #111116;

  border: 1px solid #333;

  border-radius: 10px;

  padding: 14px 16px;

  margin-bottom: 16px;

  transition: 0.3s;
}

.input-group:focus-within {
  border-color: #ff3d00;
  box-shadow: 0 0 10px rgba(255, 61, 0, 0.2);
}

.input-group svg {
  color: #ff3d00;
}

.input-group input {
  width: 100%;

  background: transparent;

  border: none;
  outline: none;

  color: white;

  font-size: 15px;
}

.input-group input::placeholder {
  color: #777;
}

.forgot {
  text-align: right;
  margin: 5px 0 20px;
}

.forgot a {
  color: #ff5722;
  text-decoration: none;
  font-size: 14px;
}

.auth-btn {
  width: 100%;

  padding: 15px;

  border: none;
  border-radius: 10px;

  background: linear-gradient(
    135deg,
    #ff3d00,
    #ff6d00
  );

  color: white;

  font-size: 16px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.3s;
}

.auth-btn:hover {
  transform: translateY(-2px);

  box-shadow:
    0 8px 20px rgba(255, 61, 0, 0.3);
}

.switch-auth {
  text-align: center;

  margin-top: 25px;

  color: #999;
}

.switch-auth a {
  color: #ff5722;

  font-weight: 600;

  text-decoration: none;
}

.switch-auth a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {

  .auth-card {
    padding: 30px 22px;
  }

  .auth-card h1 {
    font-size: 27px;
  }

}